<div class="container-fluid" id="containerFundo">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-secondary">Apagar Curso</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center text-secondary">Você tem certeza que deseja apagar essa curso?</h4>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <div>
              <p class="card-text mt-3" style="font-size: 16pt; font-weight: 500;">{{postagem.curso}}</p>
              <img class="card-img-top" src="{{postagem.imagem}}" alt="Imagem do curso" width="100%">
            </div>
            <!-- <h5 class="card-title m-0">{{postagem.imagem}}</h5> -->
            <!-- <small class="text-muted">Tema: {{postagem.tema.tipo}}</small> -->

            <!-- <p class="card-text"><small class="text-muted">
              {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}
            </small></p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center mb-4">
        <button class="btn btn-danger mr-4" routerLink='/inicio'>Não</button>
        <button class="btn btn-success" (click)='apagar()'>Sim</button>
      </div>
    </div>

  </div>
</div>
