
<div class="container-fluid backcolor" >
  <h2 class="text-center  txt-azulescuro tipoFonte" id="equipe">NOSSA EQUIPE</h2>
    <div class="row">
        <div class="col-md-6 d-flex flex-column">

            <div class="d-flex ">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGc9wYLLvluJQ/profile-displayphoto-shrink_200_200/0/1614963172732?e=1643241600&v=beta&t=VpVmcpzDMVqh2bh_CpDk0Yh5D1CA9Ii2tWel0gRzymg"  alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px">
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Gabriel Jesus</b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="https://www.linkedin.com/in/gabriel-jesus-silva/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/Gabrielgjs" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEblIpCWUmarw/profile-displayphoto-shrink_200_200/0/1636078348151?e=1643241600&v=beta&t=M-KBKJSHY7RrmFlUnmRTynSc7Fox9b3_YSXgO9ehqso"  alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoE" width="180px" height="180px">
                <div class="equipeDescricaoE">
                    <p class="integranteE"><b>Fábio Antunes </b></p>
                    <hr>
                    <p class="txt-descricaoE">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeE">
                        <a href="https://www.linkedin.com/in/f%C3%A1bio-antunes-de-oliveira-a26a9469/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/FabioAntunesO" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-6 d-flex flex-column ">

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD">
                    <p class="integranteD"><b>Matheus Alencar</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href="https://www.linkedin.com/in/matheus-alencar-silva-26894a109/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/matlencar" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>

                <img src="https://avatars.githubusercontent.com/u/87335529?v=4" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>

            <div class="d-flex justify-content-end mr-5">
                <div class="equipeDescricaoD ">
                    <p class="integranteD"><b>Lucas Passos</b></p>
                    <hr>
                    <p class="txt-descricaoD">Desenvolvedor Java Full Stack</p>
                    <div class="row posicaoRedeD">
                        <a href="https://www.linkedin.com/in/lucas-passos-fernandes-2a45b91ba/" target="_blank"><img src="https://i.imgur.com/eXXz2eO.png" width="25px" alt="Linkedin" class="redeSocial"></a>
                        <a href="https://github.com/LucasPF1" target="_blank"><img src="https://i.imgur.com/DtPvreY.png" width="25px" alt="Github" class="redeSocial"></a>
                        <a href="" target="_blank"><img src="https://i.imgur.com/mjhNJn0.png" width="25px" alt="Instagram" class="redeSocial"></a>
                    </div>
                </div>
                <img src="https://avatars.githubusercontent.com/u/89137589?v=4" alt="Foto Desenvolvedor" class="rounded-circle ml-5 mb-5 equipeFotoD" width="180px" height="180px">
            </div>



        </div>


    </div>
</div>
