<nav class="navbar navbar-expand-lg navbar-light color">
  <div class="container-fluid">
    <a class="navbar-brand text-light  fs-36" href="#" style="align-items: center;" routerLink='/home'>
      <img id="imgLogo" src="../../assets/logo/LogoConquerPretoSemBG.png"  alt="LogoConquer"></a>
    

    <div  class="login align-items-center ">
      <a href="#" routerLink='/home' http-equiv="refresh">
        <p id="centerLogin" class='text-dark'> Sair <i class=" fa fa-sign-out" aria-hidden="true"></i>
        </p>
      </a>
    </div>
    <!--  -->
    <!-- Exemplo de único botão -->
    <div class="btn-group align-items-center">
      <button type="button" class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>
      <!-- Ajustar a largura do dropDown -->
      <div class="dropdown-menu ajusteDrop" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink='/home'>Home</a>
        <a class="dropdown-item" routerLink='/entrar'>Entrar</a>
        <a class="dropdown-item" routerLink='/sobre-nos'>Sobre nós</a>
        <a class="dropdown-item" routerLink='/cursos'>Cursos</a>
        <a class="dropdown-item" href="https://www.vakinha.com.br/vaquinha/projeto-conquer-conquer" target="_blank">Doe aqui</a>
        <a href="#contato" class="dropdown-item" routerLink='/sobre-nos'>Contato</a>
      </div>
    </div>

  </div>
</nav>