<footer class="footer">
    <div class="container">
        <div class="row d-flex justify-content-">
            <div class="footer-col">
                <h4>Conquer</h4>
                <ul>
                    <li><a routerLink='/home'>Home</a></li>
                    <li><a routerLink='/cursos'>Cursos</a></li>
                    <li><a routerLink='/sobre-nos'>Sobre nós</a></li>
                    <li><a routerLink='/contato'>Contato</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 >Siga nossas redes</h4>
                <div class="row d-flex justify-content-start icon">
                    <div class=""><a href="https://www.facebook.com/" target="_blank" class="text-light"><i class="p-2 fa fa-facebook-square" aria-hidden="true"></i></a>
                    </div>
                    <div class=""><a href="https://www.youtube.com/?gl=BR&hl=PT" target="_blank" class="text-light"><i class="ml-2 p-2 fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                    <div class=""><a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="ml-2 p-2 fa fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <div class="footer-col">
                <h4>Ajuda</h4>
                <ul>
                    <li><a href="https://www.vakinha.com.br/vaquinha/projeto-conquer-conquer"
                            target="_blank">Doe-aqui</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 id="contato" >Canais de contato</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> (11) 9999-9999</a></li>
                    <li><a routerLink='/contato' target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Envie uma mensagem para nós</a></li>
                    <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> (11) 98036-2846</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>









  <!-- <div class="social-link">
    <a href="https://github.com/FabioAntunesO" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    
</div>
<div class="social-link">
    <a href="https://github.com/Gabrielgjs" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
<div class="social-link">
    <a href="https://github.com/LucasPF1" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
<div class="social-link">
    <a href="https://github.com/matlencar" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div> -->