<div class="colorBG">
  <!-- banner do Cabeçalho -->
  <div class="container-fluid p-0 text-center m-0">
    <img src="../../assets/LogoConquerPretoSemBG.png" alt="imagem montanha" class="mw-100" width="350"/>
  </div>
  <div class="container">

    <!-- Sober nós-->

    <div class="container p-0 m-0">
      <strong>
        <h4 class="py-3">SOBRE NÓS</h4>
      </strong>
    </div>
    <hr>
    <div class="container m-0 py-3 textSize">
      <p style="font-size:20pt; ">Somos a Conquer, movidos pela paixão por tecnologia e o grande desejo de
        ajudar pessoas de baixa renda a ingressarem no mercado de trabalho.
        Um E-commerce de venda de cursos que destina parte de sua arrecadação a
        capacitação de jovens e adultos em situação de vulnerabilidade, promovendo
        aceleração de carreira no ramo da tecnologia da informação e idiomas.
        Em nossa plataforma também disponibilizamos alguns cursos gratuitos que
        podem ser acessados a qualquer momento, dessa forma incentivamos ativamente
        o protagonismo de quem se interessa pelos assuntos propostos.

        A Conquer tem como missão criar oportunidades e participar de forma ativa na inclusão digital, mudando vidas,
        contribuindo para a melhora do cenário educacional brasileiro e do mercado de trabalho.</p>

      <!-- <p style="font-size:20pt;">Este e-commerce começou com a idealização da ods da onu 16 Paz, justiça e
         instituições eficazes - Promover sociedades pacíficas e inclusivas para o
         desenvolvimento sustentável, proporcionar o acesso à justiça para todos e
         construir instituições eficazes, responsáveis e inclusivas em todos os níveis.
        </p> -->

      <p></p>

      <p></p>
    </div>

    <hr>

    <div class="row mt-2 p-0 m-0 d-flex justify-content-start">
      <strong>
        <h4 class="py-3">PARCEIROS</h4>
      </strong>
    </div>

    <div class="d-flex align-items-center flex-column">

      <a href="https://brazil.generation.org/" target="black"><img class="m-5 img-parceiros"
          src="../../assets/generation foto.jpg" alt="logo instituições" /></a>

      <!-- <a href="https://www.alura.com.br/" target="black"> <img class="m-5 img-parceiros"
          src="../../assets/LogoAlura.jpg" alt="logo instituições" height="130px" /></a> -->

      <!-- <a href="https://www.sospantanal.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/sos_pantanal.png" alt="logo instituições" width="130px" height="160px" /></a>

      <a href="https://www.icasconservation.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/icas.png" alt="logo instituições" width="200px" height="100px" /></a>--->

    </div>

    <hr class="mb-5 mt-5">

  </div>

  <app-squad></app-squad>


</div>