<div class="container-fluid" id="containerFundo">
  <div class="container " >

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-secondary">Atualizar curso</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.curso' type="text" class="form-control" id="titulo"
            placeholder="Digite o título do curso">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="preco">Preço</label>
          <input [(ngModel)]='postagem.preco' type="text" class="form-control" id="preco" placeholder="Digite o Preço">
        </div>

        <div class="form-group">
          <label for="preco">Foto</label>
          <input [(ngModel)]='postagem.imagem' type="text" class="form-control" id="imagem" placeholder="imagem">
        </div>

        <div class="form-group">
          <label for="texto">Escolha um curso ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.tipo}}
            </option>
          </select>
        </div>

        <div class="d-flex justify-content-center mb-4">
          <button class="btn btn-danger mr-4 " routerLink='/inicio'>Cancelar</button>
          <button class="btn btn-success " (click)='atualizar()'>Atualizar</button>
        </div>

      </div>
    </div>

  </div>
</div>
